<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nero.bumble">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/bumble_logo_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/bumble_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Bumble">
        <activity android:name=".ChatActivityForMan"></activity>
        <activity android:name=".ProfileWomanActivity" />
        <activity android:name=".BoomActivity" />
        <activity android:name=".ChatActivity" />
        <activity android:name=".BeelineActivity" />
        <activity android:name=".FilterActivity"></activity>
        <activity android:name=".FacebookActivity" />
        <activity android:name=".ProfileActivity"></activity>
        <activity android:name=".BeforeYouSwipe" />
        <activity android:name=".SwipeManActivity">
        </activity>
        <activity android:name=".SwipeWomenActivity">
        </activity>
        <activity android:name=".SettingActivity" />
        <activity android:name=".MakeTheFirstMoveMen" />
        <activity android:name=".EnableLocationActivity" />
        <activity android:name=".connectActivity" />
        <activity android:name=".WhoAreUInterestedActivity" />
        <activity android:name=".firstMoveActivity" />
        <activity android:name=".IdentificationActivity" />
        <activity android:name=".FirstPhotoActivity" />
        <activity android:name=".RecoveryEmailidActivity" />
        <activity android:name=".BirthdayActivity" />
        <activity android:name=".FirstNameActivity" />
        <activity android:name=".OTPActivity" />
        <activity android:name=".ModeToGetStartedActivity" />
        <activity android:name=".PhoneNumberActivity" />
        <activity android:name=".SignInActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>